<html>
<head>
<title>WILO</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/flat-ui.css">
<link rel="stylesheet" href="/static/css/wilo.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body class="palette-turquoise">

<div class="container">
  <div class="col-md-12">
    <h1>
      Time until
    </h1>
    {% for stop in stops %}
      <h4>
        {{stop.line_name}}
      </h4>
      at
      {{ stop.stop_name }}:
      <h4>
        {% for time in stop.times %}
          {{ time }}{% if not loop.last %},{% endif %}
        {% endfor %}
        {% if stop.times|length == 0 %}
          unknown
        {% endif %}
      </h4>
      {% if stop.times|length != 0 %}
        minutes
      {% endif %}
    {% endfor %}
  </div>
</div>
</body>
</html>
